@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Change to 400, 500, 600, 700 based on your need */
    font-style: normal;
    font-size: 26px; /* Increase size */
    color: #555483;
}