@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500; /* Change to 400, 500, 600, 700 based on your need */
    font-style: normal;
    font-size: 26px; /* Increase size */
    color: #555483;
}

body {
    width: 512px;
    height: 512px;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    background: url('../../public/assets/backgroundName512.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Spacing between buttons */
    width: 100%;
    margin-bottom: 20px;
}

.study-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150%;
}

.nav-btn {
    width: 100px; /* Adjust button size */
    height: 100px;
    transition: transform 0.2s ease-in-out;
}


#history-btn,
#pomodoro-btn {
    width: 150px;
    height: 150px;
    position: relative;
    top: 200px; /* Move the buttons down by 50px */
}

/* Make the study button bigger */
#study-btn {
    width: 250px; /* Increase width */
    height: 250px; /* Increase height */
    margin-top: 150px; /* Move the button down by 50px */
}

.nav-btn:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}


/* Container for minimize and close buttons */
.window-controls {
    position: absolute;
    top: 10px;   /* Space from the top */
    right: 10px; /* Space from the right */
    display: flex;
    gap: 10px;   /* Space between buttons */
}

/* Style for both buttons */
#minimize-btn, #close-btn {
    /* margin-top: 20px; */
    width: 30px;  /* Adjust size of buttons */
    height: 30px;
    cursor: pointer;  /* Show pointer cursor on hover */
}

/* Optional: Add hover effects for the buttons */
#minimize-btn:hover, #close-btn:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}