@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  color: #555483;
}

.animated-btn {
  transition: transform 0.2s ease-in-out;
  margin: 0 20px;
}

.animated-btn:hover {
  transform: scale(1.2);
}

/* New Styles */
.live-feed-box {
  border: 2px solid #555483; /* Add a border */
  padding-bottom: 10px;
  margin-top: 140px;
  text-align: center; /* Center content horizontally */
  position: relative; /* Needed for positioning the dot */
}

.live-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.live-dot {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.posture-image {
  width: 125px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -15px;
}

.status-container {
  margin-top: -100px;
  margin-bottom: 20px;
}

.posture {
    margin-top: -20px;
}

.control-buttons {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

/* Container for minimize and close buttons */
.lf-window-controls {
    position: absolute;
    top: 10px;   /* Space from the top */
    right: 10px; /* Space from the right */
    display: flex;
    gap: 10px;   /* Space between buttons */
}

/* Style for both buttons */
#lf-minimize-btn, #lf-close-btn {
    /* margin-top: 20px; */
    width: 30px;  /* Adjust size of buttons */
    height: 30px;
    cursor: pointer;  /* Show pointer cursor on hover */
}

/* Optional: Add hover effects for the buttons */
#lf-minimize-btn:hover, #lf-close-btn:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}
