.move-paragraph {
    margin-top: 310px; /* Reduced space between the top of the screen and the paragraph */
    text-align: center; /* Center the text if needed */
    width: 100%; /* Optional, adjust width if required */
    max-width: 450px; /* Optional: set a maximum width to prevent it from stretching too wide */
    text-align: center; /* Optionally center the text */
    margin-left: auto; /* Center the paragraph horizontally */
    margin-right: auto; /* Center the paragraph horizontally */
  }

  .press-start {
    padding-top: 10px;
    max-width: 450px;
    margin-bottom: -240px;
  }
  
  .study-button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 100px; /* Space between paragraph and button */
  }